* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: white;
    text-align: center;
}

header {
    padding: 60px 20px;
}

header h1 {
    font-size: 40px;
}

header p {
    color: #38bdf8;
}

section {
    padding: 60px 20px;
}

.sobre {
    background-color: #1e293b;
}

.projetos {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #1e293b;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.contato a {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #22c55e;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}
